[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-lambda-powertools = "==2.21.0"
requests = "==2.22.0"
urllib3 = "==1.25.4"

[dev-packages]
python-dotenv = "==1.0.0"
pre-commit = {version = "*", index = "pypitunatsinghuaedu"}
pylint = {version = "*", index = "pypitunatsinghuaedu"}
boto3 = "*"
botocore = "*"
pytest = "*"

[requires]
python_version = "3.9"
